body{
font-family: Arial;
margin:40px;
background:#f5f7fa;
}

h1{
text-align:center;
}

nav{
text-align:center;
margin-bottom:20px;
}

button{
padding:8px 15px;
margin:5px;
cursor:pointer;
border:none;
background:#2b7cff;
color:white;
border-radius:5px;
}

button:hover{
background:#1a5edb;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
background:white;
}

th,td{
border:1px solid #ddd;
padding:10px;
text-align:center;
}

form{
margin-top:15px;
}

input,select,textarea{
padding:8px;
margin:5px;
}